{% extends "base.html" %}
{% block title %}Мои подписки{% endblock %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href={% static "pages/myFollow.css" %}>
{% endblock %}
{% block content %}

        <div class="main__header">
            <h1 class="main__title">Мои подписки</h1>
        </div>

          <div class="card-list">
            {% for author in page %}
                {% include "following_item.html" with author=author %}
            {% endfor %}
        </div>
        <div class="pagination" aria-label="Search results pages">
            {% if page.has_other_pages %}
                {% include "paginator.html" with items=page paginator=paginator%}
            {% endif %}
        </div>

{% endblock %}

  {% block script %}
    <script src={% static "js/config/config.js" %}></script>
    <script src={% static "js/components/MainCards.js" %}></script>
    <script src={% static "js/components/MyFollow.js" %}></script>
    <script src={% static "js/components/Subscribe.js" %}></script>
    <script src={% static "js/components/Header.js" %}></script>
    <script src={% static "js/api/Api.js" %}></script>
    <script src={% static "myFollow.js" %}></script>
  {% endblock %}
